// variables
@use 'app/Variables';

.autocomplete {
  .search {
    padding: 15px;
    border-color: Variables.$search-border-color;
    border-width: 3px;
    width: calc(100% - 22px);
  }

  .results {
    position: fixed;
    background-color: Variables.$results-background-color;
    border-style: solid;
    border-width: 1px;
    width: inherit;
    max-height: 500px;
    overflow-y: scroll;

    .empty {
      padding: 15px;
    }
  }
}