// variables
@use './Variables';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  .autocomplete {
    margin-top: 20px;
    width: 60%;

    @media (max-width: Variables.$screen-lg) {
      width: 80%;
    }
  }
}